.dashboard {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;

  &__tie {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__player {
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--winner {
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 1rem;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &--details {
      display: flex;
      border: 1px solid $white;
      padding: 1rem 1.5rem;
      font-size: 1.7rem;
      font-weight: 700;
      transition: all 0.2s ease-out;

      &.turn {
        background-color: $white;
        color: $bg-color;
        transform: translateY(-0.15rem);
        box-shadow: 0 6px 5px rgba(black, 0.7);
      }

      &.winner {
        background-color: $red;
        color: $white;
        transform: translateY(-0.15rem);
        box-shadow: 0 6px 5px rgba(black, 0.7);
        border-color: $red;
      }

      &-mark,
      &-name,
      &-dash {
        margin-right: 1rem;
      }

      &-score {
      }
    }
  }
}
